.help-block {
    color: red;
    text-align: left;
}

.modal-header {
    color: #ffffff;
    text-align: left;
}

.modal-body {
    text-align: left;
    height: 51px;
}

a:not([href]):hover {
    cursor: pointer;
}

label {
    font-weight: bold;
}

.modal-title {
    color: #000000;
    position: absolute;
}

.modal-content, .modal-body {
    height: auto;
}

.display-none {
    display: none;
}

.table-checked {
    background-color: green !important;
    color: #ffffff;
}