.help-block {
    color: red;
    text-align: left;
}

.modal-header {
    color: #ffffff;
    text-align: left;
}

.modal-body {
    text-align: left;
}

a:not([href]):hover {
    cursor: pointer;
}

label {
    font-weight: bold;
}

.modal-title {
    color: #000000;
    position: absolute;
}